- name: Initialize Kubernetes Master
  hosts: k8s_master
  become: true

  tasks:
    - name: kubeadm init
      command: >
        kubeadm init
        --pod-network-cidr={{ pod_network_cidr }}
      args:
        creates: /etc/kubernetes/admin.conf

    - name: Setup kubeconfig for ubuntu
      become_user: ubuntu
      shell: |
        mkdir -p $HOME/.kube
        sudo cp /etc/kubernetes/admin.conf $HOME/.kube/config
        sudo chown $(id -u):$(id -g) $HOME/.kube/config
